body {
    background: rgb(204,204,204);
}
page[size="A4"] {
    background: white;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
@media print {
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}